@ meta charset="utf-8";
body{

}
header{
  height: 80px;
  width: 100%;
  border-bottom: 2px #111 dotted;
}
li{
  list-style: none;
}
a,
a:visited,
a:hover,
a:active {
    color: black;
  text-decoration: none;
}

h4 {
  color: black;
}
.header-zoon{
  height: 65px;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  font-family: serif;
}
.header-left{
  float: left;
  padding-left: 15px;
}
.header-center li{
  float: left;
  padding-top: 22px;
  padding-left: 22px;
}
.header-right{
  text-align: right;
}
.container{
  font-family: serif;
}
/*テキスト位置*/
.write{
  text-align: center;
}
.kiji{
  text-align: left;
}
/*フッター*/
footer{
  height: 200px;
  width: auto;
  color: white;
  -webkit-text-stroke: 1px #111;
  font-family: serif;
}
.ft{
  margin-top: 100px;
  border-top: 2px #111 dotted;
}
.ft-message{
  text-align: center;
}
.ft li{
  text-align: right;
}
.btn{
  padding: 6px 24px;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}
.hanasi{
  background-color: white;
  box-shadow:1px 4px #CCCCCC	;
  font-family: serif;
  color: black;
}
.btn:hover{
  opacity: 0.7;
  transition: 0.7s;
}
.push:active{
  box-shadow: none;
  position: relative;
  top:4px;
}
.message{
  text-align: center;
}
